* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    position: relative;
}
::selection {
    color: #fff;
    background: #000;
}
section {
    width: 100%;
    height: 100vh;
}

h1 {
    margin: 0rem 12rem;
    padding-top: 15rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
}

p {
    margin: 0rem 12rem;
    font-size: 1.2rem;
    font-weight: 300;

}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

/* nav-bar start */
.nav {
    transition: 0.5s ease-in;
    position: fixed;
    right:-600px;
    background-color: #fff;
    width: 600px;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.nav-toggle {
    transition: 0.5s ease-out;
    right: 0px;
}

.nav-manu {
    margin: 8rem 0;
    display: flex;
    flex-direction: column;  
    font-size: 2rem;
}
.nav-manu ul li{
    padding-top: 2.8rem;
}
.social {
    margin: 9.6rem 0;
    display: flex;
    flex-direction: column;  
    font-size: 1rem;
}
.social ul li{
    padding-top: 2rem;
    color: #6b6b6b;
}
 .nav li a:hover {
    padding-bottom: 0;
    border-bottom: 2px solid #000;
}

/* nav-bar end */
/* hamburger strat */
.hamburger {
    position: fixed;
    width: 2rem;
    height: 24px;
    top: 2rem;
    right: 4rem;
    cursor: pointer;
    z-index: 999;
    transition: .5s ease-in-out;
}

.span {
    position: absolute;
    width: 2rem;
    height: 3px;
    background-color: #000;
    transition: 0.5s ease-out;
}
.hamburger div:nth-child(1) {
    top: 0px;
}
.hamburger div:nth-child(2) {
    top: 10px;
}
.hamburger div:nth-child(3) {
    bottom: 0px;
}
.slide {
    opacity: 0;
    transition: 0.5s ease-out;
}

.cross-down {
    width: 2rem;
    transform: rotate(45deg);
    transform-origin: top left;
}
.cross-up {
    width: 2rem;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}
/* hamburger ends */

.section-1 {
    background-color: #f3f3f3;
}

.section-2 {
    background-color: #c54cfd;
    color: #fff;
}

.section-2:focus {
    background-color: #fff;
    color: #c54cfd;
}

/* cursor code */
.wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(50%, 50%);
    transition: .2s ease-out;
}
.cursor {
    width: 1rem;
    height: 1rem;
    background-color: cadetblue;
    border-radius: 50%;
}

/* cursor ends */
